<h1>Gun Supply Tracker</h1>
<h3><i>for your business needs</i></h3>
<%= link_to "Login with an User Name", login_path %><br/>
<%= link_to 'Login with FaceBook', '/auth/facebook' %><br/>
<%= link_to "Signup", signup_path %>

