<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0&appId=460581838330847" nonce="Xi32FQgr"></script>
  
<div class="parent">
    <div class="div1">
        <h1 class="center big">Tactical Supply</h1><br/>
        <div class="fb-login-button" data-width="" data-size="medium" data-button-type="continue_with" data-layout="rounded" data-auto-logout-link="false" data-use-continue-as="true"></div>
    </div>
    <div class="div2 buttonDiv"><%= link_to "Login", login_path %></div>
    <div class="div3 buttonDiv"><%= link_to "Signup", signup_path %></div>

