<h1>Search By Quantity</h1>

<%= form_tag supplies_path, method: :get do %>
  <%=text_field_tag :quantity %>
  <%=submit_tag "Search"%>
<%end%>
<%=render(partial: 'supplies', locals: {supplies: @supplies, index: true})%>