Good day, <%= current_owner.username %>!</h2>
 
  
            <h5>Below is YOUR Tactical Supply. What would you like to do?</h5><br/><br/>
<%= link_to "Add Items", new_item_path %>
<%= link_to "Edit Supply", signup_path %>


 <%@items.each do |item|%>
  <li><%=link_to(item.name, item_path(item))%></li>
<%end%>
 