<% if !current_owner.fname%>
<h2><Good day, <%= current_owner.fname %>!></h2>
<% else %>
<h2><Good day, <%= current_owner.username %>!></h2>
<%end%>
 
  
<h5>Below is YOUR Tactical Supply. What would you like to do?</h5>
<%= link_to "Add Items", new_item_path %>


 <%@items.each do |item|%>
  <li><%=link_to(item.name, item_path(item))%>
  </li>

<%end%>
 